@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');

*{
    font-family: 'Poppins',sans-serif;
}

html{
    font-size: 20px
}

body{
    text-align: center;
    background-color: rgb(223, 255, 39);
}

header{
    height: 30px;
}

p{
    font-weight: 700px;
}

ul {
    list-style-position: inside;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left; /* ici j'ai des aide de google et chatgpt */
}

li {
    display: block;
    text-align: left;
    text-decoration: underline;
    padding: 15px;
    font-size: larger;
}
/* après l'alignement du texte, il y a un problème avec le point, donc j'utilise + comme il le place*/

.box{
    background-color: aqua;
    border-style: dashed;   
}/*here is use the thing i learn from trying to create a web from yt but i couldn't change the border to fit the letter*/

.logo {
    width: 500px;
    height: auto;
    max-width: 500px;  
    border: 0.2rem solid black;
    margin: 20px;
    background-color: white;
    transition: 0.5s ease;
    cursor: pointer;
}

.logo2 {
    width: 500px;
    height: 334px;
    max-width: 500px;  
    border: 0.2rem solid black;
    margin: 20px;
    background-color: white;
    transition: 0.5s ease;
    cursor: pointer;
}

.logo1{
     width: 500px;
     height: 334px;
    border: 0.2rem solid black;
    margin: 20px;
    transition: 0.5s ease;
    cursor: pointer;
}

.logo:hover{
    transform: scale(1.1);
}

.logo2:hover{
    transform: scale(1.1);
}

.logo1:hover{
    transform: scale(1.1);
}

span{
    color: aqua;
    transition: 0.5s ease;
    font-size: 45px;
}